*,
*:after,
*:before {
  margin: 0;
  box-sizing: border-box;
  /* background: url("assets/san-francisco-free-photo-picjumbo-com.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

html {
  background: url("assets/san-francisco-free-photo-picjumbo-com.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
  min-height: 100vh;
}
.body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  height: 100%; 
  /* display: grid;
  align-items: center;
  justify-content: center; */
/*   
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* ******** Navbar *********** */

nav {
  max-width: 100%;
  /* background-color: rgb(49, 3, 3); */
  padding-left: 30px;
  padding-right: 10px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-right: 1px;
  font-size: .85em;
  /* overflow: hidden; */
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}

/* ********* Home *********** */

.home-container {
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  z-index: 1;
	background: inherit;
	overflow: hidden;
}

.home-container:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	margin: -20px;
}

.home {
  margin: 30px;
}

.home h1 {
  /* color: Pink;  */
  font-family: "Courier";
  /* font-size: 20px; */
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  animation: type 4s steps(60, end);
}

.home h1:nth-child(2) {
  white-space:nowrap;
  overflow:hidden;    
  opacity:0;
  animation: type2 4s steps(60, end);
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes type{ 
  from { width: 0 } 
  to { width: 100% }
} 

@keyframes type2{
  0%{width: 0;}
  to { width: 100% }
  from {opacity:0;}
  1%{opacity:1;}
  to{opacity:1;}
  100%{opacity:1;}
  }

/* ********* About ************** */

.about-container {
  width: auto;
  height: auto;
  text-align: left;
  position: absolute;
  display: grid;
  align-items: center;
  left: 25%;
  right: 25%;
  top: 10%;
  /* transform: translate(-50%, -50%); */
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  z-index: 1;
	background: inherit;
  overflow: hidden;
  font-family: "Courier";
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-container:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	margin: -20px;
}

.about {
  margin: 30px;
}

/* ******** Experience *********** */

.experience-container {
  width: auto;
  height: auto;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -20%);
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  z-index: 1;
	background: inherit;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  backdrop-filter: blur(30px);
  font-family: "Courier";
}

.experience-container:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	margin: -20px;
}

.experience {
  margin: 30px;
}

.key-skills {
  display: flex;
  flex-direction: row;
}

.key-skills-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.technical-skills {
  display: flex;
  flex-direction: row;
}

.technical-skills-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.resume-pdf-container {
  position: relative;
}

.resume-pdf {
  position: absolute;
  top: 0;
  right: 20px;
  text-decoration: none;
  color: black;
}

/* ************ Projects *********** */

.project-header {
  margin: auto;
  margin-top: 10px;
  width: 25%;
  padding: 20px 0 20px 0;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  z-index: 1;
	background: inherit;
  overflow: hidden;
  backdrop-filter: blur(30px);
  font-family: "Courier";
}

.project-header:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	margin: -20px;
}

.projects-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 500px);
  grid-gap: 30px;
  margin-top: 0px;
}

.project-item {
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  /* padding: 10px; */
  box-shadow: 0px 1px 5px #555;
  /* border-radius: 10px; */
  /* background-color: #f6f1e7; */
  position: relative;
  margin-top: 50px;
}

.project-item-img {
  object-fit: cover;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  max-width: 100%;
  /* max-height: 12em; */
  /* opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden; */
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.project-item:hover .project-overlay {
  display: block;
  background: rgba(0, 0, 0, .5);
}

.project-title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
  opacity: -1;
}

.project-item:hover .project-title {
  top: 90px;
  opacity: 1;
}

.project-button {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.project-button a {
  width: 100px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  margin: 5px;
  z-index: 1;
  text-decoration: none;
}

.project-item:hover .project-button {
  opacity: 1;
}

/* .project-item:hover .project-item-img {
  opacity: -1;
}

.project-item:hover {
  opacity: 1;
  background-color: navy;
}

.project-item .middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: .5s ease;
  opacity: 0;
}

.project-item:hover .middle {
  opacity: 1;
} */


/* *********** Extra *********** */

@media only screen and (max-width : 375px) {
  .logo{ 
    font-size: 1em;
  }
  .nav-links{
    font-size: .6em;
  }
  .search-button{
    width: 60px;
    font-size: 12px;
    height: 25px;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
